In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [22]:
class Data:
    def __init__(self, inputData):
        inputData['x_i*y_i'] = inputData['y_i'] * inputData['x_i']
        inputData['x_i^2'] = inputData['x_i'].apply(lambda x: x * x)
        inputData['y_i^2'] = inputData['y_i'].apply(lambda y: y * y)
        
        self.n = inputData.shape[0]
        self.dataFrame = inputData
        
    def x_sample_mean(self):
        return self.dataFrame['x_i'].mean()
    
    def y_sample_mean(self):
        return self.dataFrame['y_i'].mean()

    def x_D(self):
        D = self.dataFrame['x_i'] * self.dataFrame['x_i']
        D = D.mean() - self.x_sample_mean()**2
        return D
    
    def y_D(self):
        D = self.dataFrame['y_i'] * self.dataFrame['y_i']
        D = D.mean() - self.y_sample_mean()**2
        return D   
    
    def x_standard_error(self):
        return self.x_D()**0.5
    
    def y_standard_error(self):
        return self.y_D()**0.5
    
    def K_xy(self):
        K = self.dataFrame['x_i'] * self.dataFrame['y_i']
        K = K.mean() - self.y_sample_mean()*self.x_sample_mean()
        return K
        
    def r(self):
        
        return self.K_xy()/(self.x_standard_error()*self.y_standard_error())
    
    def beta(self):
        beta1 = sum(self.dataFrame['x_i*y_i']) / self.n
        beta1 -= self.dataFrame['y_i'].mean() * self.dataFrame['x_i'].mean()
        beta1 /= (sum(self.dataFrame['x_i^2']) / self.n) - self.dataFrame['x_i'].mean()**2
        beta0 = self.dataFrame['y_i'].mean() - beta1 * self.dataFrame['x_i'].mean()
        
        return beta0, beta1

In [23]:
inputData = pd.read_csv('C:/Users/charl/Downloads/Statistica/CalcAndGraphic/Work 3/data.csv',delimiter = ';',header = 0)
Data1 = Data(inputData)

In [24]:
Data1.dataFrame

   y_i   x_i  x_i*y_i    x_i^2  y_i^2
0  115  62.1   7141.5  3856.41  13225
1  116  61.1   7087.6  3733.21  13456
2  117  61.0   7137.0  3721.00  13689
3  118  60.5   7139.0  3660.25  13924
4  119  60.0   7140.0  3600.00  14161
5  120  59.0   7080.0  3481.00  14400
6  121  58.5   7078.5  3422.25  14641
7  122  58.0   7076.0  3364.00  14884

In [25]:
Data1.x_sample_mean()

60.025

In [26]:
Data1.y_sample_mean()

118.5

In [27]:
Data1.x_D()

1.7643750000006548

In [28]:
Data1.y_D()

5.25

In [29]:
Data1.x_standard_error()

1.3282977828787697

In [30]:
Data1.y_standard_error()

2.29128784747792

In [31]:
Data1.K_xy()

-3.012499999999818

In [32]:
Data1.r()

-0.9898102711745396

In [33]:
Data1.beta()

(220.98689337579708, -1.7074034714834998)